header {
  font-family: Roboto, sans-serif;
}
header #top-header {
  padding: 10px 0;
  background: #939878;
  height: 40px;
  position: relative;
}
header #top-header h6 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: white;
  text-align: center;
}
header #top-header .x {
  position: absolute;
  right: 50px;
  top: 12px;
}

.fixed {
  padding: 16px 0;
  background-color: white;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.5s linear;
  /* ////////////////// RESPONSIVE NAVBAR ////////////////////// */
  /* MEDIA QUERIES */
}
.fixed .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fixed .nav .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.fixed .nav .logo h3 {
  font-size: 26px;
  color: #2a2c1f;
}
.fixed .nav ul {
  display: flex;
  align-items: center;
  gap: 32px;
}
.fixed .nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #222222;
  transition: all 0.5s linear;
}
.fixed .nav ul li a:hover {
  color: #2a2c1f;
}
.fixed .nav ul li a span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}
.fixed .nav ul li .header-button-1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 4px;
  background: transparent;
  padding: 9px 21px;
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0784313725);
  border: 1px solid #e7e8e3;
  transition: all 0.5s linear;
  cursor: pointer;
}
.fixed .nav ul li .header-button-1:hover {
  background-color: #cf6f49;
  color: white;
}
.fixed .nav ul li .header-button-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 9px 21px;
  background: #cf6f49;
  border: 1px solid #cf6f49;
  border-radius: 6px;
  color: #ffffff;
  margin-left: -16px;
  cursor: pointer;
  transition: all 0.5s linear;
}
.fixed .nav ul li .header-button-2:hover {
  background-color: white;
  color: #cf6f49;
}
.fixed #navbar-responsive.open {
  left: 0;
}
.fixed .menu-btn {
  border: 0;
  background: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  display: none;
  transition: all 0.5s ease;
}
.fixed .menu-btn span {
  display: block;
  width: 20px;
  height: 2.5px;
  background-color: #333;
}
.fixed .menu-x span:nth-child(2) {
  display: none;
}
@media (max-width: 1000px) {
  .fixed #navbar-responsive {
    position: fixed;
    top: 104px;
    bottom: 0;
    left: 100%;
    height: 560px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    transition: 0.5s;
    z-index: 100;
  }
  .fixed .header-button-2 {
    margin: 0px !important;
  }
  .fixed .menu-btn {
    display: flex;
  }
}

.scrolled {
  top: 64px !important;
}

.navbar-shrink {
  padding: 8px 0;
}

.navbar-shrink #navbar-responsive {
  top: 48px !important;
}

footer #top-footer {
  padding-top: 64px;
  padding-bottom: 64px;
}
footer #top-footer .top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1.7fr;
  place-items: start;
}
footer #top-footer .top .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer #top-footer .top .logo h3 {
  font-size: 32px;
  color: #2a2c1f;
}
footer #top-footer .top ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer #top-footer .top ul li a {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #2a2c1f;
}
footer #top-footer .top .subscribe {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer #top-footer .top .subscribe h5 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #2a2c1f;
}
footer #top-footer .top .subscribe p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #65665c;
}
footer #top-footer .top .subscribe form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
footer #top-footer .top .subscribe form input {
  padding: 12px 14px;
  outline: none;
  border: 1px solid #e7e8e3;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0784313725);
  border-radius: 6px;
  height: 48px;
  max-width: 240px;
  width: 100%;
}
footer #top-footer .top .subscribe form button {
  padding: 0px 28px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  border: 1px solid #cf6f49;
  background: #cf6f49;
  border-radius: 6px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s linear;
}
footer #top-footer .top .subscribe form button:hover {
  background: white;
  color: #cf6f49;
}
footer #top-footer .top .subscribe .pri {
  display: flex;
  align-items: center;
  gap: 16px;
}
footer #top-footer .top .subscribe .pri h6 {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #65665c;
}
footer #top-footer .top .subscribe .pri a {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #65665c;
}
footer #bottom-footer {
  padding: 24px 0;
  background: #f5f5f2;
}
footer #bottom-footer .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1150px;
  margin: 0 auto;
}
footer #bottom-footer .bottom .left {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer #bottom-footer .bottom .left p {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #65665c;
}
footer #bottom-footer .bottom .icons {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 900px) {
  footer #top-footer .top {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
  }
}
@media (max-width: 600px) {
  footer #top-footer .top {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
}

/* ///////////////////// BACTOP ///////////////////////// */
#backtop {
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
  color: #333;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: -50px;
  cursor: pointer;
  z-index: 99;
  transition: 0.6s;
}
#backtop:hover {
  background: rgb(247, 249, 235);
}

/* ////////////////// LIGHT DARK ////////////////////////// */
#light-dark {
  background: transparent;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.3s linear;
}

.dark #light-dark:hover {
  background: rgb(52, 51, 51);
}

.dark #light-dark {
  fill: white;
}

.dark {
  background: rgb(31, 30, 30);
}

.dark * {
  color: white !important;
}

.dark #home {
  background: rgb(52, 51, 51);
  padding-top: 30px;
  padding-bottom: 30px;
}

.dark #home .top {
  display: none;
}

.dark #home .bottom {
  display: none;
}

.dark .fixed {
  background: rgb(72, 70, 70);
}

.dark h5 {
  background: rgb(52, 51, 51) !important;
}

.dark .card:hover {
  background: rgb(82, 77, 77) !important;
}

.dark button {
  background: transparent !important;
}

.dark button:hover {
  background: rgb(82, 77, 77) !important;
}

.dark #area {
  background: rgb(52, 51, 51);
}

.dark #navbar-responsive {
  background: rgb(72, 70, 70);
}

.dark input {
  background: rgb(88, 86, 86);
}

.dark ::-moz-placeholder {
  color: white !important;
}

.dark ::placeholder {
  color: white !important;
}

.dark .menu-btn span {
  background: white;
}

.dark #fixed .nav ul li a img {
  fill: white !important;
}

.dark h5 {
  background: transparent !important;
}

.dark #family .family .text .cards .card:hover {
  background: transparent !important;
}

.dark #area .area .cards .card {
  background: rgb(26, 25, 25);
}

.dark #area .area-top {
  display: none;
}

.dark #area .area-bottom {
  display: none;
}

.dark #location {
  background: rgb(31, 30, 30);
}

.dark #location .loc .cards .card {
  background: rgb(26, 25, 25);
}

.dark #blog {
  background: rgb(52, 51, 51);
}

.dark #blog .blog .cards .card {
  background: rgb(26, 25, 25);
}

.dark #blog .blog .cards .card .text .qator-1 .k {
  background: rgb(86, 83, 83);
}

.dark #bottom-footer {
  background: rgb(52, 51, 51);
}

.dark #bottom-footer .bottom .icons svg {
  display: block;
}

.dark #bottom-footer .bottom .icons img {
  display: none;
}

#bottom-footer .bottom .icons svg {
  display: none;
}

.dark header #top-header {
  background: rgb(65, 63, 63);
}

.dark #fixed .menu-btn span {
  background: white;
}

.dark #navbar-responsive {
  background: #484646 !important;
}

.fixed .nav ul li a svg {
  display: none;
}

.dark .fixed .nav ul li img {
  display: none;
}

.dark .fixed .nav ul li svg {
  display: block;
  width: 20px;
}

.fixed .nav ul li svg {
  display: none;
}

main {
  font-family: Roboto, sans-serif;
}
main #home {
  background-color: #f5f5f2;
  position: relative;
}
main #home .top {
  position: absolute;
  top: 0;
  left: 0;
}
main #home .home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
main #home .home .hero-img {
  background-image: url(../../images/hero\ img.svg);
  height: 686px;
  width: 720px;
}
main #home .home div {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}
main #home .home div span h5 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 4px 12px;
  background: #e7e8e3;
  border-radius: 32px;
  width: 171px;
}
main #home .home div h1 {
  color: #2a2c1f;
  font-size: 56px;
  font-weight: 400;
  line-height: 67px;
}
main #home .home div p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #65665c;
}
main #home .home div form {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
main #home .home div form input {
  padding: 9px 10px 9px 56px;
  outline: none;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid #e7e8e3;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0784313725);
  background-image: url(../../images/input\ search.svg);
  background-repeat: no-repeat;
  background-position: top 12px left 19px;
  height: 48px;
  border-radius: 6px;
}
main #home .home div form ::-moz-placeholder {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #65665c;
}
main #home .home div form ::placeholder {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #65665c;
}
main #home .home div form button {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  padding: 9px 18px;
  color: #ffffff;
  border: 1px solid #cf6f49;
  border-radius: 6px;
  background: #cf6f49;
  cursor: pointer;
  transition: all 0.5s linear;
}
main #home .home div form button:hover {
  background-color: white;
  color: #cf6f49;
}
main #home .home div .bottom {
  position: absolute;
  bottom: -156px;
  right: -30px;
}
main #logos {
  padding-top: 67px;
}
main #logos .logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main #logos .logos h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  max-width: 243px;
  color: #2a2c1f;
}
main #logos .logos .logo {
  display: flex;
  align-items: center;
  gap: 32px;
}
main #works {
  padding-top: 125px;
  padding-bottom: 64px;
}
main #works .works {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #works .works h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
  color: #2a2c1f;
  margin-bottom: 21px;
}
main #works .works p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #65665c;
  max-width: 750px;
  margin-bottom: 61px;
}
main #works .works .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
main #works .works .cards .card {
  padding: 48px 34px 48px 34px;
  border: 1px solid #e7e8e3;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0784313725);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s linear;
}
main #works .works .cards .card h4 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: #2a2c1f;
  margin-top: 24px;
  margin-bottom: 17px;
}
main #works .works .cards .card p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #65665c;
  margin-bottom: 0;
}
main #works .works .cards .card:hover {
  background: rgb(247, 249, 235);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.0784313725);
}
main #family {
  padding-top: 64px;
}
main #family .family {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-bottom: 128px;
}
main #family .family .text {
  max-width: 520px;
}
main #family .family .text h5 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #2a2c1f;
  padding: 4px 12px;
  background: #e7e8e3;
  border-radius: 32px;
  width: 107px;
}
main #family .family .text h2 {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 28px;
}
main #family .family .text p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #65665c;
}
main #family .family .text .buttons {
  display: flex;
  align-items: center;
  margin-top: 21px;
  gap: 14px;
}
main #family .family .text .buttons button:nth-child(1) {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #2a2c1f;
  cursor: pointer;
  padding: 13px 25px;
  border: 1px solid #e7e8e3;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0784313725);
  background: transparent;
  border-radius: 6px;
  transition: all 0.5s linear;
}
main #family .family .text .buttons button:nth-child(1):hover {
  background: rgb(247, 249, 235);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.0784313725);
}
main #family .family .text .buttons button:nth-child(2) {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #2a2c1f;
  padding: 13px 25px;
  cursor: pointer;
  transition: all 0.5s linear;
  border-radius: 6px;
  background: transparent;
  border: none;
}
main #family .family .text .buttons button:nth-child(2):hover {
  background: rgb(247, 249, 235);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.0784313725);
}
main #family .family .text .cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 37px;
  margin-bottom: 30px;
}
main #family .family .text .cards .card h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #2a2c1f;
  margin-top: 16px;
  margin-bottom: 18px;
}
main #family .family .text .cards .card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}
main #area {
  background: #f5f5f2;
  padding: 128px 0 160px;
  position: relative;
}
main #area .area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #area .area h5 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  padding: 4px 12px;
  background: #e7e8e3;
  border-radius: 32px;
  width: 92px;
  color: #2a2c1f;
}
main #area .area h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
  color: #2a2c1f;
  margin-top: 20px;
  margin-bottom: 80px;
}
main #area .area .cards {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
}
main #area .area .cards .card {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0784313725);
  transition: all 0.5s linear;
}
main #area .area .cards .card:hover {
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.0784313725);
  background: rgb(247, 249, 235);
}
main #area .area .cards .card .img {
  width: 100%;
}
main #area .area .cards .card .text {
  padding: 24px;
}
main #area .area .cards .card .text h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #2a2c1f;
}
main #area .area .cards .card .text .narx {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #2a2c1f;
  margin-top: 3px;
  margin-bottom: 16px;
}
main #area .area .cards .card .text .location {
  display: flex;
  gap: 10px;
  align-items: center;
}
main #area .area .cards .card .text .location p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #65665c;
}
main #area .area .cards .card .text .card-bottom {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 16px;
}
main #area .area .cards .card .text .card-bottom .qator {
  display: flex;
  align-items: center;
  gap: 10px;
}
main #area .area .buttons {
  display: flex;
  align-items: center;
  margin-top: 80px;
  gap: 14px;
}
main #area .area .buttons button:nth-child(1) {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #2a2c1f;
  cursor: pointer;
  padding: 13px 25px;
  border: 1px solid #e7e8e3;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0784313725);
  background: white;
  border-radius: 6px;
  transition: all 0.5s linear;
}
main #area .area .buttons button:nth-child(1):hover {
  background: rgb(247, 249, 235);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.0784313725);
}
main #area .area .buttons button:nth-child(2) {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #2a2c1f;
  padding: 13px 25px;
  cursor: pointer;
  transition: all 0.5s linear;
  border-radius: 6px;
  background: transparent;
  border: none;
}
main #area .area .buttons button:nth-child(2):hover {
  background: rgb(247, 249, 235);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.0784313725);
}
main #area .area-top {
  position: absolute;
  top: 0;
  right: 0;
}
main #area .area-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}
main #location {
  background: #f5f5f2;
  padding-top: 20px;
  padding-bottom: 360px;
}
main #location .ab {
  position: relative;
}
main #location .loc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #location .loc h2 {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
  color: #2a2c1f;
}
main #location .loc p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #65665c;
  max-width: 713px;
  margin-top: 25px;
  margin-bottom: 72px;
}
main #location .loc .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: 100%;
}
main #location .loc .cards .card {
  background: white;
  padding: 33px;
  border: 1px solid #e7e8e3;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0784313725);
  border-radius: 16px;
  transition: all 0.3s linear;
}
main #location .loc .cards .card:hover {
  background: rgb(247, 249, 235);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.0784313725);
}
main #location .loc .cards .card h4 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #2a2c1f;
}
main #location .loc .cards .card h5 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #2a2c1f;
  margin-top: 12px;
}
main #location .loc .buttons {
  display: flex;
  align-items: center;
  margin-top: 80px;
  gap: 14px;
}
main #location .loc .buttons button:nth-child(1) {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #2a2c1f;
  cursor: pointer;
  padding: 13px 25px;
  border: 1px solid #e7e8e3;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0784313725);
  background: white;
  border-radius: 6px;
  transition: all 0.5s linear;
}
main #location .loc .buttons button:nth-child(1):hover {
  background: rgb(247, 249, 235);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.0784313725);
}
main #location .loc .buttons button:nth-child(2) {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #2a2c1f;
  padding: 13px 25px;
  cursor: pointer;
  transition: all 0.5s linear;
  border-radius: 6px;
  background: transparent;
  border: none;
}
main #location .loc .buttons button:nth-child(2):hover {
  background: rgb(247, 249, 235);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.0784313725);
}
main #location .bottom {
  padding: 95px;
  background: #65665c;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: -580px;
  right: 0;
  left: 0;
}
main #location .bottom h2 {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin-top: 13px;
  margin-bottom: 29px;
}
main #location .bottom p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #e7e8e3;
  max-width: 765px;
  margin-bottom: 21px;
}
main #location .bottom button {
  padding: 13px 25px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  background: #cf6f49;
  border: 1px solid #cf6f49;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s linear;
}
main #location .bottom button:hover {
  background: white;
  color: #cf6f49;
}
main #say {
  padding-top: 360px;
  padding-bottom: 160px;
}
main #say .say h2 {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
  color: #2a2c1f;
  margin-bottom: 26px;
}
main #say .say h5 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #65665c;
  margin-bottom: 80px;
}
main #say .say .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
main #say .say .cards .card {
  border: 1px solid #e7e8e3;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0784313725);
  padding: 33px;
  border-radius: 16px;
  transition: all 0.3s linear;
}
main #say .say .cards .card .yulduz {
  display: flex;
  align-items: center;
  gap: 4px;
}
main #say .say .cards .card p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #2a2c1f;
  margin: 27px 0;
}
main #say .say .cards .card .profil {
  display: flex;
  gap: 16px;
  align-items: center;
}
main #say .say .cards .card .profil .text h5 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #2a2c1f;
  margin-bottom: 0;
}
main #say .say .cards .card .profil .text h6 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #65665c;
  margin-bottom: 0;
}
main #say .say .cards .card:hover {
  background: rgb(247, 249, 235);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.0784313725);
}
main #blog {
  padding: 128px 0;
  background: #f5f5f2;
}
main #blog .blog h5 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  background: #2a2c1f;
  padding: 4px 12px;
  width: 53px;
  border-radius: 32px;
  background: #e7e8e3;
}
main #blog .blog h2 {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #2a2c1f;
  margin-top: 21px;
  margin-bottom: 29px;
}
main #blog .blog .p {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 76px;
}
main #blog .blog .p p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #65665c;
  max-width: 710px;
}
main #blog .blog .p button {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #2a2c1f;
  padding: 13px 25px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0784313725);
  background: white;
  width: 108px;
  height: 50px;
  transition: all 0.3s linear;
}
main #blog .blog .p button:hover {
  border: 1px solid #e7e8e3;
  background: rgb(247, 249, 235);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.0784313725);
}
main #blog .blog .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
main #blog .blog .cards .card {
  background: white;
  border-radius: 16px;
  transition: all 0.3s linear;
}
main #blog .blog .cards .card .text {
  padding: 24px;
}
main #blog .blog .cards .card .text .qator-1 {
  display: flex;
  align-items: center;
  gap: 16px;
}
main #blog .blog .cards .card .text .qator-1 .k {
  padding: 4px 8px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  background: #fae8e1;
  border-radius: 32px;
}
main #blog .blog .cards .card .text .qator-1 .sana {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #65665c;
}
main #blog .blog .cards .card .text h4 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #2a2c1f;
  margin-top: 16px;
  margin-bottom: 9px;
}
main #blog .blog .cards .card .text p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #65665c;
  max-width: 319px;
  margin-bottom: 24px;
}
main #blog .blog .cards .card .text h3 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #2a2c1f;
}
main #blog .blog .cards .card .img {
  width: 100%;
}
main #blog .blog .cards .card:hover {
  background: rgb(247, 249, 235);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.0784313725);
}

@media (max-width: 1260px) {
  main #home .home div .bottom {
    display: none;
  }
}
@media (max-width: 1100px) {
  main #home {
    padding: 60px 0;
  }
  main #home .home {
    flex-direction: column-reverse;
  }
  main #family .family:nth-child(1) {
    flex-direction: column-reverse;
  }
  main #family .family:nth-child(2) {
    flex-direction: column;
  }
}
@media (max-width: 1000px) {
  main #logos .logos {
    flex-direction: column;
    gap: 30px;
  }
  main #logos .logos .logo {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 900px) {
  main #home .top {
    display: none;
  }
  main #area .area .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  main #location .loc .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  main #blog .blog .p {
    flex-direction: column;
  }
  main #blog .blog {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 750px) {
  main #home .home img {
    width: 100%;
  }
  main #works .works .cards {
    grid-template-columns: 1fr;
  }
  main #family .family .img {
    width: 100%;
  }
  main #family .family .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main #family .family .text h2 {
    text-align: center;
    font-size: 40px;
  }
  main #family .family .text p {
    text-align: center;
  }
  main #home .home div {
    align-items: center;
  }
  main #home .home div h1 {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
  }
  main #home .home div p {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }
  main #works .works h2 {
    font-size: 40px;
  }
  main #works .works p {
    font-size: 14px;
    line-height: 20px;
  }
  main #logos .logos h5 {
    text-align: center;
  }
  main #family .family .text h2 {
    font-size: 40px;
    line-height: 44px;
  }
  main #family .family .text p {
    font-size: 14px;
    line-height: 20px;
  }
  main #family .family .text .cards .card p {
    text-align: start;
  }
  main #say .say .cards {
    grid-template-columns: 1fr;
  }
  main #blog .blog .p p {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }
  main #blog .blog .cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 620px) {
  main #area .area .cards {
    grid-template-columns: 1fr;
  }
  main #location .loc .cards {
    grid-template-columns: 1fr;
  }
  main #family .family .text .cards {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  main #location .bottom h2 {
    font-size: 40px;
    line-height: 44px;
  }
  main #location .bottom p {
    font-size: 14px;
    line-height: 20px;
  }
  main #location .bottom {
    padding: 50px;
  }
  main #family .family .text .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0784313725);
    border: 1px solid #e7e8e3;
    border-radius: 6px;
    padding: 20px;
    transition: all 0.5s linear;
  }
  main #family .family .text .cards .card:hover {
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.0784313725);
    background: rgb(247, 249, 235);
  }
  main #family .family .text .cards .card p {
    text-align: center;
  }
  header #top-header .x {
    display: none;
  }
  main #home .home div form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main #family .family .text .buttons {
    flex-direction: column;
    align-items: center;
  }
  main #area .area .buttons {
    flex-direction: column;
    align-items: center;
  }
  main #location .loc .buttons {
    flex-direction: column;
    align-items: center;
  }
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}/*# sourceMappingURL=style.css.map */