/* ////////////////// LIGHT DARK ////////////////////////// */
#light-dark {
  background: transparent;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.3s linear;
}
.dark #light-dark:hover {
  background: rgb(52, 51, 51);
}
.dark #light-dark {
  fill: white;
}
.dark {
  background: rgb(31, 30, 30);
}

.dark * {
  color: white !important;
}
.dark #home {
  background: rgb(52, 51, 51);
  padding-top: 30px;
  padding-bottom: 30px;
}
.dark #home .top {
  display: none;
}
.dark #home .bottom {
  display: none;
}
.dark .fixed {
  background: rgb(72, 70, 70);
}
.dark h5 {
  background: rgb(52, 51, 51) !important;
}
.dark .card:hover {
  background: rgb(82, 77, 77) !important;
}
.dark button {
  background: transparent !important;
}
.dark button:hover {
  background: rgb(82, 77, 77) !important;
}
.dark #area {
  background: rgb(52, 51, 51);
}
.dark #navbar-responsive {
  background: rgb(72, 70, 70);
}
.dark input {
  background: rgb(88, 86, 86);
}
.dark ::placeholder {
  color: white !important;
}
.dark .menu-btn span {
  background: white;
}
.dark #fixed .nav ul li a img {
  fill: white !important;
}
.dark h5 {
  background: transparent !important;
}
.dark #family .family .text .cards .card:hover {
  background: transparent !important;
}
.dark #area .area .cards .card {
  background: rgb(26, 25, 25);
}
.dark #area .area-top {
  display: none;
}
.dark #area .area-bottom {
  display: none;
}
.dark #location {
  background: rgb(31, 30, 30);
}
.dark #location .loc .cards .card {
  background: rgb(26, 25, 25);
}
.dark #blog {
  background: rgb(52, 51, 51);
}
.dark #blog .blog .cards .card {
  background: rgb(26, 25, 25);
}
.dark #blog .blog .cards .card .text .qator-1 .k {
  background: rgb(86, 83, 83);
}
.dark #bottom-footer {
  background: rgb(52, 51, 51);
}
.dark #bottom-footer .bottom .icons svg {
  display: block;
}
.dark #bottom-footer .bottom .icons img {
  display: none;
}
#bottom-footer .bottom .icons svg {
  display: none;
}
.dark header #top-header {
  background: rgb(65, 63, 63);
}
.dark #fixed .menu-btn span {
  background: white;
}
.dark #navbar-responsive {
  background: #484646 !important;
}
.fixed .nav ul li a svg {
  display: none;
}
.dark .fixed .nav ul li img {
  display: none;
}
.dark .fixed .nav ul li svg {
  display: block;
  width: 20px;
}
.fixed .nav ul li svg {
  display: none;
}
